<div class="panel">
  <div class="panel-heading" style="background-color:#0297EC;color:#fff;">Edit Listing</div>
    <div class="panel-body">
<%= simple_form_for @listing do |f| %>
  <%= f.input :name %>
  <br>
  <%= f.input :description %>
  <br>
  <%= f.input :value %>
  <br>
  <%= f.file_field :image %>
  <br>
  <%= f.button :submit, label: "Update listing" %>
<% end %>

   </div><!--/panel-body-->
</div><!--/panel-->
