<div class="panel panel-default">
  <div class="panel-heading" style="background-color:#0071BC;color:#fff;">All Listings</div>
    <div class="panel-body">
   <div class="pull-right">
  <b>Sort By</b>
       <%= link_to "Value", sort: "value" %>
  </div>
      <% @listings.each do |listing| %>
        <hr>

        <h2><%= listing.name %></h2>
        <%= image_tag listing.image.small_thumb, class: "img-responsive pull-right" if listing.image? %>
        <h5><%= listing.category.name %></h5>
        <%= "Value: $#{listing.value}"%>
        <br>
        <%= "Location: #{listing.user.city}, #{listing.user.state}" %>
        <br>
        <%= "Posted by: #{listing.user.first_name} #{listing.user.last_name}" %>
        <h5>Description:</h5>
        <%= truncate(listing.description, length: 50) %>
        <br><br>
        <%= link_to "See More", listing_path(listing), class: "btn btn-default"%>

        <hr>
      <% end %>
    </div><!--/panel-body-->
</div><!--/panel-->


