<h1><%=@listing.name%></h1>
<br>
<h4><%= link_to 'Edit Listing', edit_listing_path(@listing) if @listing.user_id = current_user.id %></h4>

<p><%=@listing.image if @listing.image? %></p>

<%= @listing.description %>
<%= @listing.value %>
<%= @listing.category.name %>
<%= "#{@listing.user.city}, #{@listing.user.state} #{@listing.user.zip} #{@listing.user.country}" %>
<br>
<%= "#{@listing.user.first_name} #{@listing.user.last_name}" %>

<%= link_to "Make an Offer", new_listing_offer_path(@listing) %>

<%= link_to "Remove Listing", @listing, method: :delete if @listing.user_id = current_user.id %>

<h2>Offers</h2>
<% @offers.each do |o| %>
  <%= "#{o.title} #{o.description} #{o.swap_listing.name} #{o.swap_listing.value} #{o.swap_listing.description} #{o.status}" %>
  <%= link_to "Edit Offer", edit_offer_path(o) if o.user == current_user %>
  <% if @listing.user == current_user && o.status == "Open" %>
    <%= button_to "Accept Offer", accept_path(o), method: :patch %>
    <%= button_to "Reject Offer", reject_path(o), method: :patch %>
  <%end%>
  <h4>Comment</h4>
  <%= simple_form_for [@offer, @comment] do |f| %>
  <%= f.input :description, label: "Comment" %>
  <%= f.submit %>
  <% end %>
<% end %>


