<div class="panel panel-default">
  <div class="panel-heading" style="background-color:#0297EC;color:#fff;">Listing</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h1><%= @listing.name %></h1>
              <%= "Category: #{@listing.category.name}" %>
              <br>
              <%= "Value: $#{@listing.value}" %>
              <br>
              <%= "Location: #{@listing.user.city}, #{@listing.user.state}" %>
              <br>
              <%= "Posted by: #{@listing.user.first_name} #{@listing.user.last_name}" %>
              <br><br>
              Willing to trade for:
              <br><br>
              <% @listing.in_return_categories.each do |x| %>
              <ul>
              <li><%= x.category.name %></li>
              </ul>
              <% end %>
        </div>
        <div class="col-md-6">
          <%= image_tag @listing.image.med_thumb, class: "img-responsive" if @listing.image? %>
          <br>
          <% if @listing.status == "Closed" %>
          <h3><b>Status:</b> <span id="Rejected">Item is now closed.</span></h3>
          <% end %>
        </div>
      </div>

      <hr>

      <h4>Item Description</h4>
      <%= @listing.description %>
      <br><br>
      <% if @listing.user == current_user && @listing.status == "Open"  %>
        <%= link_to 'Edit Listing', edit_listing_path(@listing), class: "btn btn-default" %>
        <%= link_to "Remove Listing", @listing, method: :delete, class: "btn btn-default" %>
      <% else %>
        <%= link_to "Make an Offer", new_listing_offer_path(@listing), class: "btn btn-default" if @listing.status == "Open" %>
      <% end %>

      <hr>
      <br>

      <h2>Offers</h2>
      <hr>
      <% @offers.each do |o| %>
        <% if o.user == current_user %>

        <div class="col-md-6">
          <h3><%= o.title %></h3>
          Message: <br>
          <%= o.description %>
          <br><br>
          <h5>Item Details</h5>
          <%= o.swap_listing.name %>
          <br>
          <%= "Category: #{o.swap_listing.category.name}" %>
          <br>
          <%= "Value: $#{o.swap_listing.value}" %>
          <br>
          <%= "Location: #{o.swap_listing.user.city}, #{o.swap_listing.user.state}" %>
          <br>
          <%= "Posted by: #{o.swap_listing.user.first_name} #{o.swap_listing.user.last_name}" %>
          <br>
          <h6>Item Description:</h6>
          <%= o.swap_listing.description %>
        </div>

        <div class="col-md-6">
          <%= image_tag o.swap_listing.image.small_thumb, class: "img-responsive" if o.swap_listing.image? %>
          <br><br>
          <% if o.status == "Open" %>
          <%= link_to "Edit Offer", edit_offer_path(o), class: "btn btn-default" if o.user == current_user %>
          <% elsif o.status == "Rejected" %>
          <h3 id="Rejected">Rejected!</h3>
          <% else %>
          <h3 id="Accepted">Accepted!</h3>
          <% end %>


        </div>



        <div class="col-md-12">
        <hr>
        <h4>Messages</h4>

          <% o.comments.each do |c| %>
            <b><%= "#{c.user.first_name} #{c.user.last_name}"%></b>:
            <%= c.description %>
            <br>
          <% end %>


        <hr>
          <%= simple_form_for [ o, @comment] do |f| %>
             <%= f.input :description, label: false %>
             <i class="fa fa-comments"><%= f.submit label: "Post Comment",  class: "btn btn-default"  %></i>
             <hr>
       </div>
          <% end %>

        <% else %>
          <div class="col-md-12">
          <%= link_to o.swap_listing.name, offer_path(o) %>
            <%= image_tag o.swap_listing.image.small_thumb, class: "img-responsive pull-right" if o.swap_listing.image %>
          <br>
          <%= "Category: #{o.swap_listing.category.name}" %>
          <br>
          <%= "Value: $#{o.swap_listing.value}" %>
          <br>
          <%= "Location: #{o.swap_listing.user.city}, #{o.swap_listing.user.state}" %>
          <br>
          <%= "Posted by: #{o.swap_listing.user.first_name} #{o.swap_listing.user.last_name}" %>
          <br>
          <%= "Status: #{o.status}" %>
           <hr>
          </div>


        <% end %>

      <% end %>

  </div><!--/panel-body-->
</div><!--/panel-->





