<div class="panel">
  <div class="panel-heading" style="background-color:#0297EC;color:#fff;">Make an Offer</div>
    <div class="panel-body">

  <h1>Offer for <%= @listing.name %></h1>
  <hr>
  <div class="col-md-8 pull-center">
    <%= simple_form_for [@listing, @offer] do |f| %>
      <%= f.input :title %>
      <br>
      <%= f.input :description %>
      <br>
      <%= f.input :swap_listing_id, label: 'My Listings', collection: @listings %>
      <br>
      <%= f.button :submit, class: "btn btn-default" %>
    <% end %>
      <br>
      <br>
      If you don't have any items listed for trade you can add one <%= link_to 'here.', new_listing_path %>



  </div>

    </div><!--/panel-body-->
</div><!--/panel-->

