<div class="panel panel-default">
  <div class="panel-heading" style="background-color:#0297EC;color:#fff;"><%= @offer.title %></div>
    <div class="panel-body">
        <div class="row">
        <div class="col-md-6">
          <h1><%= @offer.swap_listing.name %></h1>
              <%= "Category: #{@offer.swap_listing.category.name}" %>
              <br>
              <%= "Value: $#{@offer.swap_listing.value}" %>
              <br>
              <%= "Location: #{@offer.user.city}, #{@offer.user.state}" %>
              <br>
              <%= "Posted by: #{@offer.user.first_name} #{@offer.user.last_name}" %>
              <br>
               <h5>Description</h5>
               <%= @offer.swap_listing.description %>

              <br><br>

              <% if @offer.listing.user == current_user && @offer.status == "Open" %>
                <%= button_to "Accept Offer", accept_path(@offer), method: :patch, class: "btn btn-default" %>
                <%= button_to "Reject Offer", reject_path(@offer), method: :patch, class: "btn btn-default" %>
              <%end%>
        </div>
        <div class="col-md-6">
          <%= image_tag @offer.swap_listing.image.med_thumb, class: "img-responsive" if @offer.swap_listing.image? %><br>
          <% if @offer.status == "Open" %>
          <p>Status: Open</p>
          <% elsif @offer.status == "Rejected" %>
          <p id="Rejected">Rejected!</p>
          <% else %>
          <p id="Accepted">Accepted!</p>
          <% end %>

        </div>
      </div>

      <hr>
        <h4>Messages</h4>

        <% @offer.comments.each do |c| %>
        <b><%= "#{c.user.first_name} #{c.user.last_name}"%></b>:
        <%= c.description %>
        <br>
        <% end %>
      <hr>
          <%= simple_form_for [ @offer, @comment] do |f| %>
           <%= f.input :description, label: false %>
           <%= f.submit  "Post Message", class: "btn btn-default"  %>
          <% end %>


    </div><!--/panel-body-->
</div><!--/panel-->
