<!DOCTYPE html>
<html>
<head>
  <title>BreakableToy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if flash.any? %>
<div>
<%= flash[:notice] %>
</div>
<%end%>

<% if user_signed_in? %>
  <%= link_to "#{current_user.first_name}", edit_user_registration_path %>
  <td><%= image_tag current_user.profile_pic.thumb if current_user.profile_pic? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%= link_to "Add Listing", new_listing_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>



<%= yield %>

</body>
</html>
