<!DOCTYPE html>
<html>
<!-- Begin Navbar -->
<div class="navbar navbar-static">
   <div class="container">

<head>
  <title>Swap!Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <div class="navbar-header">
    <%= link_to "Swap!Shop", root_path, class: "navbar-brand" %>
  </div>
    <div class="nav pull-right navbar-nav">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li> <%= image_tag current_user.profile_pic.thumb, class: "img-circle" if current_user.profile_pic?  %></li>
          <li id="signedin"><%= link_to "#{current_user.first_name}", edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div><!-- /.navbar -->

<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <% if user_signed_in? %>
      <h1>Swap don't shop
        <p class="lead">Take trading to the next level with Swap!Shop</p>
        </h1>
      <% else %>
        <h1><%= link_to "Sign up and swap till' you drop", new_user_registration_path %>
          <p class="lead"><%= link_to "or sign in if you already have an account", new_user_registration_path %></p></h1>
      <% end %>
      </div>
      <div class="col-md-5">
        <div class="well pull-right">
          <img src="http://www.onlinelogomaker.com/applet_userdata/229330/projects/project_1405341339000.png">
        </div>
      </div>
    </div>
  </div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Begin Body -->
<div class="container">
  <div class="no-gutter row">
        <!-- left side column -->
        <div class="col-md-2">
          <div class="panel panel-default" id="sidebar">
            <div class="panel-heading" style="background-color:#8CC63F;color:#fff;">My Swaps</div>
              <div class="panel-body">
                <ul class="nav nav-stacked">
                  <li><%= link_to "View Listings", listings_path%></li>
                  <% if user_signed_in? %>
                    <li><%= link_to "Add a Listing", new_listing_path%></li>
                    <li><%= link_to "My Listings", mylistings_path%></li>
                    <li><%= link_to "My Offers", offers_path%></li>
                  <% end %>
                </ul>
              </div><!--/panel body-->
          </div><!--/panel-->
        </div><!--/end left column-->

        <!--mid column-->
          <div class="col-md-3">
              <div class="panel" id="midCol">
                <div class="panel-heading" style="background-color:#0297EC;color:#eee;">Most Recent Listings
                </div>
                <div class="panel-body">
                  <div class="media">
                    <% @recentlistings.each do |listing| %>
                      <%= image_tag listing.image.thumb, class: "pull-left" if listing.image? %>
                    <div class="media-body">
                      <h5 class="media-heading"><%= link_to listing.name, listing_path(listing) %></h5>
                      <small>Posted by: <%= "#{listing.user.first_name} #{listing.user.last_name}" %><br>
                      <%= "#{listing.user.city}, #{listing.user.state}" %></small>
                    </div>
                    <% end %>
                  </div>
                <hr>


                  <h3>Top Member </h3>

                  <h5><a href="#"><i class="glyphicon glyphicon-user"></i> John Chapman</a></h5>
                  </div>
                  </div> <!--/panel-->
                </div> <!-- end mid content column-->


        <!-- right content column-->
          <div class="col-md-7" id="content">
            <%= yield %>
          </div><!--/end right column-->
      </div> <!--no-gutter row-->
  </div> <!--container-->
</html>
