<!DOCTYPE html>
<html>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Begin Navbar -->
<div class="navbar navbar-static">
   <div class="container">

<head>
  <title>Swap!Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <div class="navbar-header">
    <%= link_to "Swap!Shop", root_path, class: "navbar-brand" %>
  </div>

  <div class="nav navbar-nav", id="navsearch">
     <%= form_tag listings_path, method: 'get' do %>
      <%= text_field_tag :search, params[:search], class: "navbar-search navbar-form form-control", placeholder: "search listings" %>
      <% end %>
      </div>




    <div class="nav pull-right navbar-nav">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li> <%= image_tag current_user.profile_pic.thumb, class: "img-circle" if current_user.profile_pic?  %></li>
          <li id="signedin"><%= link_to "#{current_user.first_name}", edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div><!-- /.navbar -->

<header class="masthead">
  <div class="container">

    <div class="row">

    <div class="col-md-9">
      <!--  Carousel - consult the Twitter Bootstrap docs at
          http://twitter.github.com/bootstrap/javascript.html#carousel -->
      <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
        <div class="carousel-inner">
          <div class="item active"><!-- class of active since it's the first item -->
            <img src="http://1.bp.blogspot.com/-T6_czdEkNE8/Uy9QGX5EecI/AAAAAAAADKc/m0zMtlE0ccw/s1600/retro_konas.jpg" alt="" />
              <div class="carousel-caption">
              <h1>Swap ! Shop</h1>
              <h4>Sporting Goods</h4>
            </div>
          </div>
          <div class="item">
            <img src="http://www.son-video.com/images/dynamic/Chaines_hi_fi/articles/Onkyo/ONKCS245NR/Onkyo-CS-245-Colibrino-Noir_P_1200.jpg" alt="" />
            <div class="carousel-caption">
              <h2>Swap It, Don't Shop It<h2>
              <h3>Cell Phones and Electronics</h3>
            </div>
          </div>
          <div class="item">
            <img src="http://content.abt.com/image.php/big_2492M.jpg?image=/images/products/BDP_Images/big_2492M.jpg&canvas=1&quality=100&min_w=450&min_h=320&ck=317" alt="" />
            <div class="carousel-caption">
              <h2>Swap Shades</h2>
            </div>
          </div>
          <div class="item">
            <img src="http://motherboard-cdn-assets.vice.com/content-images/contentimage/10464/1399664221398.jpeg?crop=1xw:0.713588850174216xh;*,*&resize=1200:*&output-format=jpeg&output-quality=90" alt="" />
            <div class="carousel-caption pull-left">
              <h3>Video Games and Systems</h3>
            </div>
          </div>
        </div><!-- /.carousel-inner -->
        <!--  Next and Previous controls below
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
      </div><!-- /.carousel -->
      </div>
      <div class="col-md-3">
        <div class="well pull-right">
          <img src="http://www.onlinelogomaker.com/applet_userdata/229330/projects/project_1405341339000.png">
        </div>
         <br>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
      </div>
    </div>
  </div>
</header>


<body>
<!-- Begin Body -->
<div class="container">
  <div class="no-gutter row">
        <!-- left side column -->
        <div class="col-md-2">
          <div class="panel panel-default" id="sidebar">
            <div class="panel-heading" style="background-color:#8CC63F;color:#fff;">My Swaps</div>
              <div class="panel-body">
                <ul class="nav nav-stacked">
                  <li><%= link_to "View Listings", listings_path%></li>
                  <% if user_signed_in? %>
                    <li><%= link_to "Add a Listing", new_listing_path%></li>
                    <li><%= link_to "My Listings", mylistings_path%></li>
                    <li><%= link_to "My Offers", offers_path%></li>
                  <% end %>
                </ul>
              </div><!--/panel body-->
          </div><!--/panel-->
        </div><!--/end left column-->

          <!-- mid content column-->
          <div class="col-md-7" id="content">
            <%= yield %>
          </div><!--/end mid column-->

        <!--right column-->
          <div class="col-md-3">
              <div class="panel panel-default" id="midCol">
                <div class="panel-heading" style="background-color:#0071BC;color:#eee;">The Feed
                </div>
                <div class="panel-body">
                  <div class="media">
                  <h5>Most Recent Listings</h5>
                    <% @recentlistings.each do |listing| %>
                      <%= image_tag listing.image.thumb, class: "pull-left" if listing.image? %>
                    <div class="media-body">
                      <h6 class="media-heading"><%= link_to listing.name, listing_path(listing) %></h6>
                      <small>Posted by: <%= "#{listing.user.first_name} #{listing.user.last_name}" %><br>
                      <%= "#{listing.user.city}, #{listing.user.state}" %></small>
                    </div>
                    <% end %>
                  </div>
                <hr>

                <a class="twitter-timeline" href="https://twitter.com/Mcscott142" data-widget-id="489384846519566337">Tweets by @Mcscott142</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                <hr>

                <div class="fb-like-box" data-href="https://www.facebook.com/swapitdontshopit" data-width="260" data-height="500" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="false"></div>

                <hr>


                  <h3>Top Member </h3>

                  <h5><a href="#"><i class="glyphicon glyphicon-user"></i> John Chapman</a></h5>
                  </div>
                  </div> <!--/panel-->
                </div> <!-- end right content column-->
      </div> <!--no-gutter row-->
  </div> <!--container-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
  </body>
  </html>
